.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2098px;
}

.u-section-1 .u-group-1 {
  min-height: 299px;
  width: 1129px;
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Raleway, sans-serif;
  margin: 0 691px 0 23px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 23px 31px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 26px 0 0 29px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 16px 15px 0 43px;
}

.u-section-1 .u-group-2 {
  min-height: 774px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  margin: 0 27px;
}

.u-section-1 .u-image-1 {
  width: 671px;
  height: 329px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  width: 256px;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 15px 27px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 676px;
  width: 552px;
  margin: 42px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 0;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  margin: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 352px;
  height: 346px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  width: 329px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 24px 25px 0;
}

.u-section-1 .u-group-4 {
  min-height: 676px;
  width: 552px;
  margin: -676px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 0;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  margin: 0 10px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  width: 429px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  width: 321px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 16px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2781px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 516px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 802px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 35px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2900px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 21px;
    margin-left: 21px;
  }

  .u-section-1 .u-group-3 {
    width: 544px;
    margin-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    width: 544px;
    margin-top: 21px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3026px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 265px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-group-3 {
    width: 478px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-group-4 {
    min-height: 717px;
    width: 474px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3527px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -9px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 765px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 334px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-group-4 {
    min-height: 739px;
    margin-top: 62px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    height: 239px;
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 0;
    margin-left: 16px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 924px;
}

.u-section-2 .u-text-1 {
  margin: 18px 0 0 29px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 18px 15px 0 43px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 672px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 13px 11px;
}

.u-section-2 .u-group-1 {
  min-height: 673px;
  margin-top: 0;
  margin-bottom: -12px;
}

.u-section-2 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: 14px 18px 0;
}

.u-section-2 .u-image-1 {
  height: 220px;
  object-position: 0% 58.98%;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  margin: 10px 24px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 19px 19px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 13px;
}

.u-section-2 .u-group-2 {
  min-height: 674px;
  width: 352px;
  margin: -1px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-text-6 {
  font-weight: normal;
  margin: 10px 8px 0 12px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 57px 10px 0;
}

.u-section-2 .u-text-8 {
  width: 174px;
  margin: 112px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 672px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 13px;
}

.u-section-2 .u-group-3 {
  min-height: 674px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.u-section-2 .u-container-layout-6 {
  padding: 12px 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  margin: 8px 10px 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 45px 10px 0;
}

.u-section-2 .u-text-11 {
  width: 174px;
  margin: 101px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: -1px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 305px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 60px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 87px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 674px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 35px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 773px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 0;
    min-height: 777px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-image-1 {
    height: 133px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 17px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 773px;
  }

  .u-section-2 .u-group-2 {
    min-height: 777px;
    width: 224px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 64px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 773px;
  }

  .u-section-2 .u-group-3 {
    min-height: 777px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 6px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 34px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 697px;
  }

  .u-section-2 .u-group-1 {
    min-height: 699px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-1 {
    height: 363px;
    margin-top: 19px;
  }

  .u-section-2 .u-text-4 {
    width: 306px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 11px;
    min-height: 377px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 5px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 28px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 423px;
  }

  .u-section-2 .u-group-3 {
    min-height: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2057px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-2 .u-group-1 {
    min-height: 662px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -8px;
  }

  .u-section-2 .u-image-1 {
    height: 213px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-3 {
    min-height: 540px;
  }

  .u-section-2 .u-text-9 {
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 273px;
}

.u-section-3 .u-text-1 {
  margin: 27px 0 0 29px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 23px 15px 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 40px 33px 0 -33px;
}

.u-section-4 .u-text-3 {
  margin: 76px 193px 0 -33px;
}

.u-section-4 .u-text-4 {
  margin: 74px 323px 0 -33px;
}

.u-section-4 .u-text-5 {
  margin: 77px 324px 0 -33px;
}

.u-section-4 .u-text-6 {
  margin: 74px 0 0 -33px;
}

.u-section-4 .u-text-7 {
  margin: -426px 0 0 16px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: -402px 33px 0 -33px;
}

.u-section-4 .u-text-9 {
  margin: 102px 353px 0 -33px;
}

.u-section-4 .u-text-10 {
  margin: 102px 1124px 0 -33px;
}

.u-section-4 .u-text-11 {
  margin: 74px 1124px 24px -33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 40px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 101px;
    margin-right: 800px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 101px;
    margin-right: 930px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 71px;
    margin-right: 931px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 78px;
    margin-right: 40px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -476px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -423px;
    margin-right: 40px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 96px;
    margin-right: 959px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 101px;
    margin-right: 959px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 78px;
    margin-right: 959px;
    margin-left: -40px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 30px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 99px;
    margin-right: 570px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 700px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 701px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 100px;
    margin-right: 30px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -499px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -524px;
    margin-right: 30px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 123px;
    margin-right: 729px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 127px;
    margin-right: 729px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 100px;
    margin-right: 729px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 33px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 150px;
    margin-right: 393px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 150px;
    margin-right: 525px;
    margin-left: -35px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 101px;
    margin-right: 525px;
    margin-left: -34px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 101px;
    margin-right: 33px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -627px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -624px;
    margin-right: 33px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 149px;
    margin-right: 552px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 149px;
    margin-right: 552px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 125px;
    margin-right: 552px;
    margin-left: -33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2106px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 18px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 200px;
    margin-right: 177px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 199px;
    margin-right: 306px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 150px;
    margin-right: 309px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 152px;
    margin-right: 16px;
    margin-left: -16px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -826px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -900px;
    margin-right: 17px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 250px;
    margin-right: 336px;
    margin-left: -17px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 224px;
    margin-right: 335px;
    margin-left: -16px;
  }

  .u-section-4 .u-text-11 {
    margin: 152px 334px 60px -15px;
  }
}